<div id="my-signin2"></div>
<script>
  function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    var formData = new FormData();
    formData.append('id_token', id_token);
    var req = new XMLHttpRequest();
    req.addEventListener("load", function() {
      console.log("Log in successful");
    });
    req.addEventListener("error", function() {
      console.log("Log in failed");
    });
    req.open("POST", "/signin");
    req.send(formData);
  }
  
  function onFailure(error) {
    console.log(error);
  }
  
  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      // 'accesstype': 'offline',
      'onsuccess': onSignIn,
      'onfailure': onFailure
    });
  }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>