<h1>DOAIKO</h1>

<% if @user.nil? %>
    <h2>ログインしてね！</h2>
<% else %>
    <h2>コンチハ<%= @user.name %>さん</h2>
    <% @user_courses.each do |user_course| %>
        <h2><%= user_course.course.official_name %></h2>
    <% end %>

    <% @user_classrooms.each do |user_classroom| %>
        <h2><%= user_classroom.classroom.lowercase_name %></h2>
    <% end %>
<% end %>