<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>DOAIKO</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link rel="stylesheet" href="/assets/css/layout.css">
	<link rel="stylesheet" href="/assets/css/calendar.css">
	<link rel="stylesheet" href="/assets/css/mypage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<meta name="google-signin-client_id" content="<%= @client_id %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<nav>
		<ul>
			<%# ロゴの画像を入れる． %>
			<li class="title-logo"><a href="/"><h1>DOAIKO</h1></a></li>
			<% if session[:token_key].nil? %>
			  <li><img src="./assets/img/default_icon.png" class="user-image"></a></li>
			<% else %>
				<li><a href="/signout" onclick="signOut();">Sign out</a></li>
				<li><a href="/mypage/<%= @current_user.id %>" class="user-image-container"><img src="<%= @current_user.image_url %>" class="user-image"></a></li>
			<% end %>
		</ul>
	</nav>
	<main>
		<%= yield %>
	</main>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
</body>
</html>