<h1>新規登録</h1>
<!--<form action="signup" method="post" enctype="multipart/form-data">-->
<form action="signup" method="post">
    <input type="text" name="name" placeholder="メンター名" required>
    <input type="email" name="email" placeholder="Gmailアドレス" required>
    <input type="password" name="password" placeholder="パスワード" required>
    <input type="password" name="password_confirmation" placeholder="パスワードを確認" required>
    
    <input type="number" name="term" placeholder="期" min="1" max="13">
    
    <input type="radio" name="area" value="関東" id="kanto">
    <label for="kanto">関東</label>
    <input type="radio" name="area" value="関東" id="kansai">
    <label for="kansai">関西</label>
    <input type="radio" name="area" value="関東" id="tokai">
    <label for="tokai">東海</label>
    
    <input type="checkbox" name="iphone" value="iphone" id="iphone">
    <label for="iphone">iPhone</label>
    <input type="checkbox" name="android" value="android" id="android">
    <label for="android">android</label>
    <input type="checkbox" name="unity" value="unity" id="unity">
    <label for="unity">unity</label>
    <input type="checkbox" name="webd" value="webd" id="webd">
    <label for="webd">webd</label>
    <input type="checkbox" name="webs" value="webs" id="webs">
    <label for="webs">webs</label>
    
    <input type="file" name="file" accept="image/*">
    <!--<input type="submit" value="Sign up">-->
</form>