<h1>ログイン</h1>
<form action="/signin" method="post">
	<input type="text" name="name" placeholder="ユーザー名">
	<input type="password" name="password" placeholder="パスワード">
	<input type="submit" value="Sign in">
</form>